<h1>Meditate#index</h1>

<section id="meditation-application">
  <section id="prompt-view">
    <p>Prompt text</p>
  </section>
  <section id="stats-view">
    <table>
      <tr>
        <th>Statistic</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Longest Inhale Duration</td>
        <td id='longest-inhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Inhale Duration</td>
        <td id='average-inhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Exhale Duration</td>
        <td id='longest-exhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Exhale Duration</td>
        <td id='average-exhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Cycle Duration</td>
        <td id='longest-cycle-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Inhale Duration</td>
        <td id='average-cycle-duration'>&nbsp;</td>
      </tr>
    </table>
  </section>
  <section id="timer-view">
    <p>Stuff</p>
  </section>
</section>
