<script type="text/javascript" charset="utf-8">
  var MAX_BREATH_CYCLES = parseInt("<%= session[:cycles] || 3 %>");
</script>

<section id="meditation-application">
  <section id="prompt-view">
    <h1>Prompt text</h1>
  </section>
  <section id="stats-view">
    <table>
      <tr>
        <th>Statistic</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Longest Inhale Duration</td>
        <td id='longest-inhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Inhale Duration</td>
        <td id='average-inhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Exhale Duration</td>
        <td id='longest-exhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Exhale Duration</td>
        <td id='average-exhale-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Cycle Duration</td>
        <td id='longest-cycle-duration'>&nbsp;</td>
      </tr>
      <tr>
        <td>Average Inhale Duration</td>
        <td id='average-cycle-duration'>&nbsp;</td>
      </tr>
    </table>
    <table>
      <tr>
        <td>Longest Inhale Ever</td>
        <td id='longest-inhale-duration-ever'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Average Inhale Duration Ever</td>
        <td id='average-inhale-duration-ever'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Exhale Ever</td>
        <td id='longest-exhale-duration-ever'>&nbsp;</td>
      </tr>
      <tr>
        <td>Longest Average Exhale Duration Ever</td>
        <td id='average-exhale-duration-ever'>&nbsp;</td>
      </tr>
    </table>
  </section>
  <section id="timer-view">
    <p>Stuff</p>
  </section>
</section>
